[mcu]
canbus_uuid: ed645754ddb2

[mcu EBBCan]
canbus_uuid: 76623a83ef1f


[include bigtreetech-ebb-sb-rp2040-canbus-v1.0.cfg]

[include bigtreetech-manta-m5p.cfg]

[include stealthburner_leds.cfg]

[include mainsail.cfg]

[include macros.cfg]

[include KNOMI.cfg]

[probe]
pin: EBBCan:gpio22
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 3.0
samples: 2
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.025
samples_tolerance_retries: 3



[heater_bed]
heater_pin: PA5
sensor_type: Generic 3950
sensor_pin: PA0
#control: pid
#pid_Kp: 70.549 
#pid_Ki: 1.285 
#pid_Kd: 968.286
min_temp: 0
max_temp: 130


######################## SAVING HERE FOR REFERENCE <- MOVED TO TOOLHEAD CFG #########################
#[extruder]
#step_pin: EBBCan:gpio18
#dir_pin: EBBCan:gpio19
#enable_pin: !EBBCan:gpio17
#microsteps: 32
#rotation_distance: 22.6789
#gear_ratio: 50:10
#ull_steps_per_rotation: 200
#ozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: EBBCan:gpio7
#ensor_type: ATC Semitec 104GT-2
#sensor_pin: EBBCan:gpio27
#control: pid
#id_Kp: 34.713
#pid_Ki: 8.901
#pid_Kd: 33.844
#min_temp: 0
#max_temp: 250
#max_power: 0.7

[shaketune]
 result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
 number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
 keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
 show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
 timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
 measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
 max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
 dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 47.6
#*# shaper_type_y = ei
#*# shaper_freq_y = 40.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 33.084
#*# pid_ki = 8.483
#*# pid_kd = 32.257
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.946
#*# pid_ki = 0.837
#*# pid_kd = 1460.990
#*#
#*# [probe]
#*# z_offset = -2.066
